@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

.header {
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.title {
  font-family: 'Seaweed Script', cursive;
  font-size: 30px;
  color: #FF8A00;
  letter-spacing: 0.51em;
}

.icon {
  margin-left: 2em;
}

@media screen and (max-width: 600px) {
  .header {
    height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .icon {
    margin-left: 1em;
  }

  .title {
    letter-spacing: 0.35em;
  }
}